{% extends "layout.html" %}
{% block content %}

    <!-- <h1>About Page</h1><br> -->

    <h3 class='display-4'>Full Stack Development Using Python-Flask</h3><br><br>
    <h4>What is Full Stack?</h4>
    <p>A full stack web developer is a person who can develop both client and server software.
</p>
    <p>In addition to mastering HTML and CSS, he/she also knows how to:
    </p>
    <ul>
    <li>Program a browser (like using JavaScript, jQuery, Angular, or Vue)</li>
    <li>Program a server (like using PHP, ASP, Python, or Node)</</li>

    <li>Program a database (like using SQL, SQLite, or MongoDB)</li>
    </ul>

    <h4>Popular Stacks</h4>
    <ul>
    <li>LAMP stack: JavaScript - Linux - Apache - MySQL - PHP</li>
    <li>LEMP stack: JavaScript - Linux - Nginx - MySQL - PHP</li>
    <li>MEAN stack: JavaScript - MongoDB - Express - AngularJS - Node.js</li>
    <li>Django stack: JavaScript - Python - Django - MySQL</li>
    <li>Ruby on Rails: JavaScript - Ruby - SQLite - Rails</li>
    </ul>

    {% endblock content %}

{% block section1 %}
  <div class="row no-gutter">
    <div style="margin-right:35%" class="col-lg-2 ">
      <h5>ClientSide</h5>
      <ol>
        <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>W3.CSS
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Angular</li>
          <li>React</li>
      </ol>
      </div>

    <div class="col-lg-2">
      <h5>ServerSide</h5>
      <ol>
        <li>Python</li>
          <li>Php</li>
          <li>Java</li>
          <li>ASP</li>
          <li>Node.js</li>
          <li>SQL</li>
          <li>Django/Flask</li>
          <li>MongoDB</li>


      </ol>
      </div>
      </div>
{% endblock section1 %}
